
body {
  margin: 0;
}

h1 {
  font-family: "Century Gothic";
  color: #FF6E95;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #ff6699;
}
a:visited {
  text-decoration: none;
  color: #ff6699;
}

.footer-text {
  display: block;
  text-align: center;
  width: 100%;
  color: #FF6E95;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 0.08em;
  padding-bottom: 50px;
}

.line {
  border: 5px solid #FFCADF;
  width: 100%;
}

@media  (max-width: 414px) {

  h1 {
    font-size: 72px;
  }


}
